@function strip-unit($value) {
	@return $value / ($value * 0 + 1);
}

@function mq($mq-value) {
  @return map-get($mq, $mq-value);
}

@function font($font-name) {
  @return map-get($fonts, $font-name);
}

@function space($space-name) {
  @return map-get($spaces, $space-name);
}

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@function fluid-unity($min-value: 0, $max-value: $min-value, $min-vw: mq('mobile'), $max-vw: mq('wide')) {
  @return calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
}
