@mixin generate-spaces-clss {
  @each $space-name, $space-value in $spaces {
    .#{$namespace}-u-m-#{$space-name} {
      margin: $space-value;
    }

    .#{$namespace}-u-mt-#{$space-name} {
      margin-top: $space-value;
    }

    .#{$namespace}-u-mr-#{$space-name} {
      margin-right: $space-value;
    }

    .#{$namespace}-u-mb-#{$space-name} {
      margin-bottom: $space-value;
    }

    .#{$namespace}-u-ml-#{$space-name} {
      margin-left: $space-value;
    }

    .#{$namespace}-u-p-#{$space-name} {
      padding: $space-value;
    }

    .#{$namespace}-u-pt-#{$space-name} {
      padding-top: $space-value;
    }

    .#{$namespace}-u-pr-#{$space-name} {
      padding-right: $space-value;
    }

    .#{$namespace}-u-pb-#{$space-name} {
      padding-bottom: $space-value;
    }

    .#{$namespace}-u-pl-#{$space-name} {
      padding-left: $space-value;
    }
  }
}

@mixin generate-font-size-clss($name, $font-map) {
  @each $font-type, $font-properties in $font-map {

    $toLowerCaseName: to_lower_case($name);

    .#{$namespace}-u-#{$toLowerCaseName}-#{$font-type} {
      font-family: font(#{$name});

      @each $property, $value in $font-properties {
        #{$property}: $value;
      }
    }

  }
}

@mixin generate-color-clss {
  @each $name, $color in $colors {
    .#{$namespace}-u-color-#{$name} {
      color: $color;
    }

    .#{$namespace}-u-bg-#{$name} {
      background-color: $color;
    }
  }
}

@mixin svg-path-color($color) {
  line, path {
    stroke: $color;
    fill: $color;
  }
}

@mixin text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}