* {
  box-sizing: border-box;
}

html {
  font-size: $base-font-size;
}

body {
  @extend .hd-u-tradegothic-medium;
	height: 100%;
	font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
  background: color('gray-light');
}

a {
  color: transparent;
}

img {
  width: 100%;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

button {
  border: 0;
  outline: 0;
}

svg {
  fill: currentColor;
}