@font-face {
   font-family: "Trade Gothic";
   font-style: normal;
   font-weight: 400;
   src: local("Trade Gothic"),
        url("../assets/fonts/trade-gothic.otf") format("truetype")
}

@font-face {
   font-family: "Futura Condensed";
   font-style: normal;
   font-weight: 400;
   src: local("Futura Condensed"),
        url("../assets/fonts/futura.otf") format("truetype")
}