.#{$namespace}-content {
  margin: auto;
}

.#{$namespace}-u-t-uppercase {
  text-transform: uppercase;
}

.#{$namespace}-u-t-center {
  text-align: center;
}

.#{$namespace}-u-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.#{$namespace}-u-is-not-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.#{$namespace}-u-title {
  @extend .#{$namespace}-u-futura-medium;
  text-transform: uppercase;
  color: color('gray-strong');
  text-align: center;
}

@include generate-color-clss;
@include generate-spaces-clss;
@include generate-font-size-clss('TradeGothic', $trade-gothic);
@include generate-font-size-clss('Futura', $futura);