/* --------------------------------------------------- */
/* Default Variables */
/* --------------------------------------------------- */

$namespace: 'hd';
$base-font-size: 62.5%;

/* --------------------------------------------------- */
/* Map Configs */
/* --------------------------------------------------- */

/* Media Queries value is: value / 16 - For example: 320/16 */

$mq: (
  'mobile' : 20rem,
  'tablet' : 48rem,
  'laptop' : 60rem,
  'desktop': 80rem,
  'wide'   : 100rem
);

$colors: (
  'black'      : #000,
  'white'      : #fff,
  'gray-heavy' : #464646,
  'gray-strong': #5C5C5C,
  'gray-medium': #C6C5C5,
  'gray-light' : #F2F2F2,
  'green'      : #25d366,
  'blue'       : #3b5998,
  'blue-light' : #1da1f2,
  'red'        : #f12b2b
);

$fonts: (
  'TradeGothic': 'Trade Gothic',
  'Futura'     : 'Futura Condensed'
);

$trade-gothic: (
  'small': (
    font-size: fluid-unity(1.4rem, 1.5rem),
    line-height: fluid-unity(1.4rem, 1.5rem),
    letter-spacing: -0.03rem
  ),
  'medium': (
    font-size: fluid-unity( 1.6rem, 2rem ),
    line-height: fluid-unity( 2rem, 2.4rem ),
    letter-spacing: fluid-unity( -0.044rem, -0.055rem )
  ),
  'default': (
    font-size: 1.6rem,
    line-height: 1.6rem,
    letter-spacing: -0.034rem
  )
);

$futura: (
  'small': (
    font-size: fluid-unity(2rem, 2.1rem),
    line-height: fluid-unity(2rem, 2.1rem),
    letter-spacing: -0.045rem
  ),
  'medium': (
    font-size: fluid-unity( 3rem, 5rem ),
    line-height: fluid-unity( 3rem, 5rem ),
    letter-spacing: fluid-unity( -0.152rem, -0.281rem )
  )
);

$spaces:(
  '0' : 0,
  '5' : 0.5rem,
  '10': 1rem,
  '20': 2rem,
  '30': 3rem,
  '40': 4rem,
  '60': 6rem,
  '80': 8rem
);

$border-radius: 0.44rem;
