// ---------------------------------------------------------
// Sections
// ---------------------------------------------------------

.#{$namespace}-section__header {
  padding: fluid-unity(4rem, 5rem);
}

.#{$namespace}-section__title {
  @extend .hd-u-title;
}

.#{$namespace}-section__text {
  margin-bottom: 0;
  color: color('gray-medium');
  text-align: center;

  @include min-screen(mq('laptop')) {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

// ---------------------------------------------------------
// Grid List
// ---------------------------------------------------------

.#{$namespace}-grid-list {
  @extend .#{$namespace}-u-is-not-list;
  display: flex;
  flex-direction: column;

  @include min-screen(mq('tablet')) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 space('20');
    margin-bottom: fluid-unity(2rem, 4rem);
  }
}

.#{$namespace}-grid-list__item {
  margin-bottom: space('20');

  @include min-screen(mq('tablet')) {
    flex: 0 0 47%;
    margin-right: 2%;
    transition: transform 200ms ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @include min-screen(mq('laptop')) {
    flex: 0 0 23.5%;
    margin-bottom: 2%;

    &:nth-child(2n) {
      margin-right: 2%;
    }

    &:nth-child(4n) {
      margin-right: 0%;
    }
  }

  // Define rulers for modifier
  .#{$namespace}-grid-list--horizontal & {
    margin-right: space(20);
    margin-bottom: 0;
    flex: 1 0 100%;

    @include min-screen(mq('tablet')) {
      flex: 1 0 47%;
      margin-right: 2%;
    }

    @include min-screen(mq('laptop')) {
      flex: 1 0 30%;
      transition: opacity 350ms ease-in-out;
    }
  }
}

.#{$namespace}-grid-list--horizontal {
  width: 100%;
  overflow-x: scroll;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 0;

  &::-webkit-scrollbar {
    display: none !important;
  }
}

.hd-loadmore {
  display: flex;
  justify-content: center;
  flex-direction: row;
}