.#{$namespace}-button {
  @extend .hd-u-tradegothic-small;
  padding: space('20');
  transition: opacity 200ms ease;
  min-width: 15rem;
  text-transform: uppercase;
  border-radius: $border-radius;

  &:not([disabled]) {
    cursor: pointer;
  }

  &:hover:not([disabled]) {
    opacity: 0.8;
  }
}