.#{$namespace}-footer {
  background: color('white');
  display: flex;
  flex-direction: row;
  height: 20vh;
  align-items: center;
  justify-content: space-between;
  padding: 0 fluid-unity(2rem, 4rem);
  margin-top: fluid-unity(4rem, 6rem);
}

.#{$namespace}-footer__logo {
  img {
    width: 70%;
  }
}

.#{$namespace}-footer__social {
  @extend .#{$namespace}-u-is-not-list;
  display: flex;
  flex-direction: row;
  align-items: center;

  dd {
    margin-left: 1.6rem;
    font-size: 2.8rem;
    transition: opacity 200ms ease;

    &:hover {
      opacity: 0.6;
    }
  }

  a {
    color: color('black');
  }

  svg {
    width: 2rem;
    display: block;
    fill: currentColor;
  }
}

@include min-screen(mq('laptop')) {
  .#{$namespace}-footer__logo {
    img {
      width: 50%;
    }
  }
}
