.#{$namespace}-header {
  background: color('white');
  display: flex;
  flex-direction: row;
  height: 14vh;
  align-items: center;
  justify-content: center;
}

.#{$namespace}-header-logo {
  width: auto;
  height: 44%;
}
