@import 'cards-footer';

%cards-box-info {
  padding: space('20');
  background: color('white');
  width: 90%;

  @include min-screen(mq('tablet')) {
    width: 100%;
  }
}

.#{$namespace}-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: color('gray-light');
}

.#{$namespace}-cards__header {
  @extend %cards-box-info;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.#{$namespace}-cards__title,
.#{$namespace}-cards__subtitle {
  @include text-ellipsis;
  max-width: 22rem;
}

.#{$namespace}-cards__image {
  width: 100%;
  overflow: hidden;

  img {
    width: 100%;
    display: block;
    transition: all 600ms easeOutBack;
  }

  @include min-screen(mq('laptop')) {
    .#{$namespace}-cards:hover & {
      img {
        transform: scale(1.2);
      }
    }
  }
}