.#{$namespace}-cards__footer {
  @extend %cards-box-info;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  padding: 0 !important;
  position: relative;

  svg {
    display: block;
  }
}

.#{$namespace}-cards__info {
  background: color('white');
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: space('20');
  position: relative;
  z-index: 2;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;

  svg {
    width: 2rem;
    transition: all 600ms easeOutExpo;
  }
}

.#{$namespace}-cards__label {
  display: flex;
  flex-direction: row;
  align-items: center;

  @include min-screen(mq('laptop')) {
    .#{$namespace}-cards:hover & {
      svg {
        transform: rotate(360deg);
      }
    }
  }
}

.#{$namespace}-cards__copy {
  @include text-ellipsis;
  max-width: 18rem;
}

.#{$namespace}-cards__bullets {
  svg {
    width: 2rem;
    transition: transform 600ms easeOutExpo;

    path {
      transition: fill 300ms;
      fill: color('gray-medium');
    }

    .#{$namespace}-cards__footer.is--opened & {
      transform: scale(1.4);

      path { fill: color('gray-strong'); }
    }

    .#{$namespace}-cards__footer.is--closed & {
      transition-delay: 200ms;

      path { transition-delay: 200ms; }

      &:hover {
        path { transition-delay: 0; }
      }
    }

    @include min-screen(mq('laptop')) {
      &:hover {
        path { fill: color('gray-strong'); }
      }
    }
  }
}

.#{$namespace}-cards__nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: color('white');
  overflow: hidden;
  transition: transform 400ms easeInOutExpo;
  z-index: 1;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;

  .#{$namespace}-cards__footer.is--opened & {
    transform: translateY(-4.3rem);
  }

  .#{$namespace}-cards__footer.is--closed & {
    transition-delay: 150ms;
    transform: translateY(0);
  }

  @include min-screen(mq('tablet')) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.#{$namespace}-cards__share {
  @extend .#{$namespace}-u-is-not-list;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transition: transform 200ms 200ms;
  padding-top: space('20');

  .#{$namespace}-cards__footer.is--opened & {
    transform: translateY(0);
  }
}

.#{$namespace}-cards__social-icons {
  margin-right: 1.6rem;

  svg {
    display: block;
    width: 2.3rem;
  }

  &:last-child {
    margin-right: 0;
  }
}