.#{$namespace}-hero {
  height: 80vh;
  transition: height 999999s;
}

.#{$namespace}-hero__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  transition: all 600ms easeInOutExpo;
}

.#{$namespace}-hero__video {
  width: 100%;
  height: calc(100% - 7rem);
}

.#{$namespace}-hero__info {
  padding: space('20');
  border-bottom: 1px solid color('gray-medium');
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 7rem;

  svg {
    width: 2rem;
  }
}

##{$namespace}-hero__player,
.#{$namespace}-hero__content {
  width: 100%;
  height: 100%;
}
