.#{$namespace}-loading {
  background: color('gray-light');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 30;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  transform: translateY(0);
  overflow: hidden;

  svg {
    width: 5rem;

    path {
      fill: color('gray-strong');
    }
  }
}

.#{$namespace}-loading--icon {
  transform: scale(0);
  opacity: 1;
  animation: skull-head-open 1000ms easeOutBack 400ms forwards, loading-text-pulse 300ms ease-in 1320ms alternate infinite;
}

.#{$namespace}-loading--text {
  padding: space('10') 0 0;
  position: relative;
  overflow: hidden;
  background: color('gray-light');

  span {
    transform: translateY(100%) scale(1);
    opacity: 1;
    animation: loading-text-open 1000ms easeOutBack 700ms forwards;
    display: block;
  }
}

.#{$namespace}-loading.is-finished {
  will-change: transform;
  animation: loading-close 800ms easeOutExpo 720ms forwards;

  .#{$namespace}-loading--icon {
    transform: scale(1);
    will-change: opacity;
    animation: skull-head-close 400ms easeOutQuart 100ms forwards;
  }

  .#{$namespace}-loading--text {
    span {
      transform: translateY(0);
      will-change: transform opacity;
      animation: loading-text-close 400ms easeOutQuart 200ms forwards;
    }
  }
}

@keyframes skull-head-open {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}

@keyframes loading-text-open {
  0% { transform: translateY(100%); }
  100% { transform: translateY(0); }
}

@keyframes loading-text-pulse {
  0% { transform: scale(1); }
  100% { transform: scale(.85); }
}

@keyframes skull-head-close {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes loading-text-close {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes loading-close {
  0% { transform: translateX(0); }
  100% { transform: translateX(100%); }
}