.#{$namespace}-music {}

.#{$namespace}-music-list {
  @extend .#{$namespace}-u-is-not-list;

  li {
    margin-bottom: 2rem;
  }
}

.#{$namespace}-music-list-image {
  position: relative;

  img {
    display: block;
  }
}

.#{$namespace}-music-list-play {
  background: rgba(0, 0, 0, .5);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: color('white');
  font-size: fluid-unity(60px, 100px);
}

.#{$namespace}-music-list-detail {
  background: color('white');
  padding: fluid-unity(20px, 24px);
  text-align: center;
}

.#{$namespace}-music-load-more {
  text-align: center;
  padding: 0 4rem 4rem;
}

@include min-screen(mq('tablet')) {
  .#{$namespace}-music-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 0;
    justify-content: center;

    li {
      flex: 0 0 48.3%;
      margin-right: 1%;
      transition: transform 200ms ease-in-out;
      transform: translate3d(0, 0, 0);
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
}

@include min-screen(mq('laptop')) {
  .#{$namespace}-music-list {
    li {
      flex: 0 0 22%;
      margin-right: 2%;

      &:hover {
        .#{$namespace}-music-list-play {
          opacity: 1;
        }
      }

      &:nth-child(2n) {
        margin-right: 2%;
      }

      &:nth-child(4n) {
        margin-right: 0%;
      }
    }
  }

  .#{$namespace}-music-list-play {
    transform: translate3d(0, 0, 0);
    opacity: 0;
    transition: opacity 200ms ease-in-out 50ms;
  }

  .#{$namespace}-music-list-detail {
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
