.#{$namespace}-player {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;

  iframe {
    width: 100%;
    height: 80%;
    border: 0;

    @include min-screen(mq('tablet')) {
      width: 84%;
    }
  }
}

.#{$namespace}-player__share {
  background: color('white');
  padding: 2rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: flex-end;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;

  @include min-screen(mq('tablet')) {
    width: 84%;
  }
}

.#{$namespace}-player__social {
  @extend .#{$namespace}-u-is-not-list;
  display: flex;
  flex-direction: row;
  align-items: center;

  dd {
    margin-left: 1.6rem;
    font-size: 2.8rem;
    transition: opacity 200ms ease;

    &:hover {
      opacity: 0.6;
    }
  }

  a {
    color: color('black');
  }

  svg {
    display: block;
    width: 2rem;
  }
}

.#{$namespace}-player__close {
  position: absolute;
  right: 3%;
  top: 5%;
  cursor: pointer;
  transition: all 200ms ease-in-out;

  svg {
    display: block;
    width: 3.5rem;
  }

  &:hover {
    transform: scale(1.5);
  }
}
