.#{$namespace}-podcast {}

.#{$namespace}-podcast-list {
  @extend .#{$namespace}-u-is-not-list;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  overflow-x: scroll;
  padding-bottom: space(20);

  li {
    margin-right: space(20);
  }

  &::-webkit-scrollbar {
    display: none !important;
  }
}

@include min-screen(mq('laptop')) {
  .#{$namespace}-podcast-list {
    li {
      flex: 1 0 29%;
      transition: opacity 350ms ease-in-out;
      transform: translate3d(0, 0, 0);
      margin-right: 1%;
    }
  }
}
